{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись</title>
    {% include 'main/nav.html' %}
    {% include 'main/add.html' %}
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/my.css' %}" rel="stylesheet">
</head>
<body>
  <br>
  <br>
  {% if tickets %}
  <blockquote class="blockquote text-center">
    <p class="mb-0"><h3>Запись на консультацию</h3></p>
  </blockquote>
    <form method="post">
    <div class="d-grid gap-2 col-6 mx-auto">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" required id="id_email" placeholder="Ваш email">
        </div>
        <div class="mb-3">
          <label for="id_phone" class="form-label">Телефон</label>
          <input type="text" name="phone" required id="id_phone" class="form-control" placeholder="+79024717134">
        </div>
        <div class="mb-3">
         <label for="id_time" class="form-label">Доступные окна</label>
          <select class="form-control" name="time" id="id_time">
          {% for item in tickets %}
            <option value="{{ item.str_date }}">{{ item.str_date }}</option>
          {% endfor %}
          </select>
        </div>
        <div class="row">
            <div class="d-grid gap-4 col-4 mx-auto">
                <button class="btn btn-primary">Записаться</button>
            </div>
        </div>
    </div>
    </form>
    {% else %}
    <blockquote class="blockquote text-center">
    <p class="mb-0" style="margin-top: 10%;"><h5>Автоматическая запись недоступна, позвоните нам на номер <br><br>+7 (902) 471-71-34<br>
    <br>Мы подберем время для вас</h5></p>
  </blockquote>
    {% endif %}

{% include 'main/footer.html' %}

</body>
</html>