{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Адвокат Мамбергер Жанна Аркадьевна</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/my.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
  </head>
  <body>
    
  <header>
    {% include 'main/nav.html' %}
    {% include 'main/add.html' %}
  </header>
<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image xlink:href="{% static 'img/perm.JPG' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></image></svg>

          <div class="container">
            <div style="margin-bottom: 40px;" class="carousel-caption">
              <h1>25 лет успешной адвокатской практики</h1>
              <br>
              <br>
              {% comment %}<p><h1>25 лет успешной практики</h1></p>{% endcomment %}
              <p><a class="btn btn-lg btn-primary" href="{% url 'get_ticket' %}">Консультация</a></p>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image xlink:href="{% static 'img/2.jpg' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></image></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>АРБИТРАЖ</h1>
            <p><h4>Споры между хозяйствующими субъектами<br>Банкроство юридических и физических лиц</h4></p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'get_ticket' %}">Консультация</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image xlink:href="{% static 'img/2_1.jpg' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></image></svg>

        <div class="container">
          <div class="carousel-caption text-start" style="margin-top: 200%;">
            <h1>ГРАЖДАНСКОЕ ПРАВО</h1>
            <p><h4>Наследство<br>Раздел имущества супругов<br>Взыскание долгов и многое другое</h4></p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'get_ticket' %}">Консультация</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image xlink:href="{% static 'img/gerb.jpg' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></image></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>УГОЛОВНОЕ ПРАВО</h1>
            <p><h4>Защита на следствии и в суде<br>Предстваление интересов потерпевших по уголовным делам</h4></p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'get_ticket' %}">Консультация</a></p>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><image xlink:href="{% static 'img/dark.jpg' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></image></svg>

        <h3 style="margin-top: 20px;">25 лет успешной<br>практики</h3>
        <!--<p>Устная консультация, разработка правовых документов (заявления, жалобы, договоры). От 1000 рублей.</p>-->
        {% comment %}
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        {% endcomment %}
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><image xlink:href="{% static 'img/with_client.jpg' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></image></svg>

        <h3 style="margin-top: 20px;">Ответственность и индивидульный подход</h3>
        <!--<p>От 10000 рублей.</p>-->
        {% comment %}
        <!--<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>-->
        {% endcomment %}      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><image xlink:href="{% static 'img/mini_map.png' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></image></svg>

        <h3 style="margin-top: 20px;">Офис в центре<br>города</h3>
        <!--<p>Сопровождение деятельности юридического лица.</p>-->
        {% comment %}
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        {% endcomment %}      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">О себе:{% comment %}<span class="text-muted">It’ll blow your mind.</span>{% endcomment %}</h2><br>
        <p class="lead"><b>1996 год — закончила Пермский Государственный Университет, специальность — юриспруденция.<br>
          1997 год — присвоен статус адвоката и внесена запись в реестр адвокатов Пермского края<br>2009
        год — высшие курсы повышения квалификации адвокатов Российской Федерации при Российской академии адвокатуры
          <br>2019 год — курсы повышения квалификации адвокатов
        при Адвокатской палате Пермского края<br>2021 год — грамота за высокие показатели в защите законных прав
        и интересов граждан</b></p>
      </div>
      <div class="col-md-5" style="margin-top: 35px;">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><image xlink:href="{% static 'img/best.jpg' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider" style="margin-bottom: 0;">

    <div class="row featurette">

      <div class="col-md-7 order-md-2" style="">
        <h2 class="featurette-heading" style="margin-left: 2%;">Виды сотрудничества</h2>
        <ul style="margin-bottom: 5%; margin-top: 3%;">
          <li>
            <p class="lead"><strong><b>Разовые поручения</b></strong><b> - составление заявлений, договоров, жалоб, участие в переговорах итд.</b></p>
          </li>
          <li>
            <p class="lead"><strong><b>Соглашение на ведение дела:</b></strong></p>
            <ul>
              <li><p class="lead"><b>Анализ ситуации</b></p></li>
              <li><p class="lead"><b>Сбор доказательств</b></p></li>
              <li><p class="lead"><b>Выработка правовой позиции</b></p></li>
              <li><p class="lead"><b>Представление интересов в суде</b></p></li>
            </ul>
          </li>
          <li><p class="lead"><strong><b>Абонентское обслуживание</b></strong><b> - юридическое сопровождение деятельности предприятия, как альтернатива штатному юристу</b></p></li>
        </ul>
        <!--<p class="lead">● Разовые поручения - составление заявлений, договоров, жалоб, участие в переговорах итд.<br>
        ● Соглашение на ведение дела:<br>
        • Анализ ситуации<br>
        • Сбор доказательств<br>
        • Выработка правовой позиции<br>
        • Представление интересов в суде<br>
        ● Абонентское обслуживание - юридическое сопровождение деятельности предприятия, как альтернатива штатному юристу</p>
   --></div>
      <div class="col-md-5 order-md-1" style="margin-top: 10%;">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><image xlink:href="{% static 'img/near_sud.jpg' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></image></svg>
      </div>
    </div>

    <hr class="featurette-divider" style="margin-bottom: 0;">

    <div class="row featurette">

      <div class="col-md-7" style="margin-top: 2%;">
        <h2 class="featurette-heading" style="margin-left: 2%; margin-top: 20%;">Преимущества</h2>
        <div class="list-1" style="margin-top: 7%;">
          <ul>
            <li>
              <p class="lead"><b>Возможность провидения онлайн-консультаций</b></p>
            </li>
            <li>
              <p class="lead"><b>Различные варианты сотрудничества</b></p>
            </li>
            <li>
              <p class="lead"><b>Высокий уровень профессионализм</b></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5" style="margin-top: 10%;">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><image xlink:href="{% static 'img/2_1.jpg' %}" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></image></svg>
      </div>
    </div>



    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  {% include 'main/footer.html' %}
</main>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      
  </body>
</html>
